<h1>New Article</h1>


<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <!--Agregamos otra seccion para que incluya status del articulo -->
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ["public", "private", "archived"]%><br>
    <!--La linea anterior nos dara opcion de elegir entre 3 opciones al momento de crear el articulo, asignandole el status al articulo -->
    <% @article.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
